{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img id="image_original" src="{% static source_foto %}?{{ time }} " style="width: 400px;">
<img id="image_final" src="{% static final_foto %}?{{ time }} " style="width: 400px;">


<form action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data" id="uploader">
    {% csrf_token %}
    Zvolte zdrojový obraz:<br>
    <input type="file" name="fileToUpload" id="fileToUpload"><br>
    <input type="submit" value="Upload Image" name="submit">
</form>
<div id="block_container">

</div>


<div id="edit_block_pattern" style="display: none;">
    <select onchange="validateSelects(this); categoryFill(this);">
        <option value="none">Zvolte kategorii operace</option>
        <option value="color">Barvy</option>
        <option value="transform">Transformace</option>
        <option value="filter">Filtry</option>
        <option value="detection">Detekce</option>
    </select><br>
    <select onchange="generate_params_form(this);redraw();" style="visibility: hidden;">
        <option value="none">Kappa pride</option>
    </select>
    <div class="params"></div>
    <button onclick="addBlock(this)">+</button>
    <button class="delete_button" onclick="deleteBlock(this)">X</button>
</div>

<script>
    var category = {};

    function initCategoryObject() {

        var color_bw = {
            'name': 'Konvertovat do stupňů šedi',
            'short': 'bw'
        };

        var color_blue = {
            'name': 'Filter blue color',
            'short': 'blue',

        };

        var transform_rotate = {
            'name': 'Otáčeníčko',
            'short': 'rotate',
            'params': [
                {
                    'type': 'text',
                    'default': '90',
                    'label': 'Rotace o počet stupňů',
                    'name': 'degrees'

                }
            ]
        };
        var transform_crop = {
            'name': 'Ořez',
            'short': 'crop'

        };
        var filter_smooth = {
            'name': 'Vyhlazení',
            'short': 'smooth',
            'params': [
                {
                    'type': 'text',
                    'default': '5',
                    'label': 'Počet vyhlazovacích pixelů horizontálně',
                    'name': 'pixel_count_horizontal'

                },
                {
                    'type': 'text',
                    'default': '5',
                    'label': 'Počet vyhlazovacích pixelů vertikálně',
                    'name': 'pixel_count_vertical'

                }
            ]
        };

        var detection_corner = {
            'name': 'Detekce hran',
            'short': 'corner',
            'params': [
                {
                    'type': 'text',
                    'default': '10',
                    'label': 'Maximální počet hran k nalezení',
                    'name': 'corner_count'

                },
                {
                    'type': 'text',
                    'default': '0.01',
                    'label': 'Treshold',
                    'name': 'treshold'

                },
                {
                    'type': 'text',
                    'default': '10',
                    'label': 'Minimální vzdálenost hran',
                    'name': 'minimum_distance'

                }
            ]
        };


        category.color = [color_bw, color_blue];
        category.transform = {'rotate': transform_rotate, 'crop': transform_crop};
        category.filter = {'smooth': filter_smooth};
        category.detection = {'corner': detection_corner};
    }

    function generate_params_form(sender) {
        var sender_block = sender.parentNode;
        selects = sender_block.getElementsByTagName('select');
        params_block = sender_block.getElementsByClassName('params')[0];
        params_block.innerHTML = '';
        operation = category[selects[0].value][selects[1].value];
        if (typeof operation !== 'undefined' && operation !== null) {
            for (var i in operation.params) {
                if (operation.params[i].type == 'text') {
                    var param_text = document.createElement("INPUT");
                    param_text.setAttribute('class', operation.params[i].name);
                    param_text.setAttribute('value', operation.params[i].default);
                    param_text.setAttribute('onchange', 'redraw();');
                    var label = document.createElement("p");
                    label.innerText = operation.params[i].label;
                    params_block.appendChild(label);
                    params_block.appendChild(param_text);

                }
            }
        }


    }

    function validateSelects(sender) {
        var sender_block = sender.parentNode;
        selects = sender_block.getElementsByTagName('select');
        if (selects[0].value == 'none') {
            selects[1].style.visibility = 'hidden';
        } else {
            selects[1].style.visibility = 'visible';
        }
    }

    function validateButtons() {
        var delete_buttons = document.getElementsByClassName('delete_button');
        if (delete_buttons.length == 2) {
            delete_buttons[0].disabled = true;
        } else {
            delete_buttons[0].disabled = false;
        }
    }

    function deleteBlock(sender) {
        var sender_block = sender.parentNode;
        var sender_block_parent = sender_block.parentNode;
        sender_block_parent.removeChild(sender_block);
        redraw();
        validateButtons();

    }

    function addBlock(sender) {
        var sender_block = sender.parentNode;
        var new_block = prepareNewBlock();
        insertAfter(new_block, sender_block);
        validateButtons();
    }

    function prepareNewBlock() {
        var pattern = document.getElementById("edit_block_pattern");
        var new_block = pattern.cloneNode(true);
        new_block.style.display = "block";
        new_block.id = "";
        new_block.className = "edit_block";
        return new_block;
    }

    function insertFirstBlock() {
        var pattern = document.getElementById("block_container");
        var new_block = prepareNewBlock();
        pattern.appendChild(new_block);
    }


    function categoryFill(e) {
        var parent = e.parentNode;
        var selects = parent.getElementsByTagName('select');
        parent.getElementsByClassName('params')[0].innerHTML = '';
        selects[1].innerHTML = '';

        var none_option = new Option();
        none_option.text = 'Zvolte operaci';
        none_option.value = 'none';
        selects[1].appendChild(none_option);

        for (var i in category[selects[0].value]) {
            var generated_option = new Option();
            generated_option.text = category[selects[0].value][i].name;
            generated_option.value = category[selects[0].value][i].short;
            selects[1].appendChild(generated_option)
        }

    }

    function initUploadImage() {

        var upload_form = document.getElementById("uploader");

        upload_form.onsubmit = function (e) {

            var body = document.getElementsByTagName('body');
            body[0].style.backgroundColor = 'blue';

            var data = new FormData(upload_form);
            csrftoken = getCookie('csrftoken');
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //alert(xhttp.responseText);

                    body[0].style.backgroundColor = 'white';
                    var image = document.getElementById("image_original");
                    image.src = image.src + '1';
                    redraw();
                }
            };
            xhttp.open("POST", "./upload", true);

            xhttp.setRequestHeader('X-CSRFToken', csrftoken)
            xhttp.send(data);

            e.preventDefault();
        };
    }


    function redraw() {
        var body = document.getElementsByTagName('body');
        body[0].style.backgroundColor = 'blue';
        var edit_blocks = document.getElementsByClassName('edit_block');

        var data = [];
        for (i = 0; i < edit_blocks.length; i++) {
            var first_select = edit_blocks[i].getElementsByTagName("select")[0];
            var second_select = edit_blocks[i].getElementsByTagName("select")[1];
            var params_div = edit_blocks[i].getElementsByClassName('params')[0];
            var inputs = params_div.getElementsByTagName('input');
            var index_of_this_data_block = data.length;
            data[index_of_this_data_block] = [first_select.value, second_select.value];

            for (var input_index = 0; input_index < inputs.length; input_index++) {
                data[index_of_this_data_block].push(inputs[input_index].value);
            }


            /* console.log(first_select.value+"_"+second_select.value); */
        }
        console.log(data);
        csrftoken = getCookie('csrftoken');
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //alert(xhttp.responseText);
                body[0].style.backgroundColor = 'white';
                var image = document.getElementById("image_final");
                image.src = image.src + '1';
            }
        };
        xhttp.open("POST", "./work", true);

        xhttp.setRequestHeader('X-CSRFToken', csrftoken)
        xhttp.send(JSON.stringify(data));
        console.log(JSON.stringify(data));
    }

    function insertAfter(newNode, referenceNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    function getCookie(name) {
        var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return v ? v[2] : null;
    }


    insertFirstBlock();
    initUploadImage();
    redraw();
    validateButtons();
    initCategoryObject();

</script>
<style>
    .edit_block {
        background-color: aquamarine;
        border-radius: 5px;
        display: inline-block;
        padding: 5px;
        float: left;

    }
    p{
        margin: 0;
    }
</style>
</body>
</html>